ipython
jupyterlab
matplotlib
mkdocs
notebook
numpy
pandas
pip
pytest
python-dotenv
ruff
scikit-learn
docx
python-docx
streamlit
tqdm
langchain-community
langchain_huggingface
langchain_ollama
faiss-cpu