ipython
jupyterlab
matplotlib
mkdocs
notebook
numpy
pandas
pip
pytest
python-dotenv
ruff
scikit-learn
chardet
docx
python-docx
streamlit
tqdm
langchain
langchain-community
langchain_huggingface
langchain-ollama
faiss-cpu
openpyxl
pandas
numpy
spacy
# python -m spacy download en_core_web_sm